<div class="span3">
    <ul class="nav nav-tabs nav-stacked" id="cpnavleft">
        <li id="app.index.index">
            <a href="/index.php/login">管理首页<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.setreply.index">
            <a href="/index.php/Reply">设置自定义回复<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.setreplyadd.text">
            <a href="/index.php/Reply/AddText">添加文字回复<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.setreplyadd.media">
            <a href="/index.php/Reply/AddMedia">添加图文回复<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.menuset.index">
            <a href="/app/menuset.html?AppID=12345831">服务号自定义菜单<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.microsite.index">
            <a href="/app/microsite.html?AppID=12345831">微网站设置<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.article.index">
            <a href="/app/article.html?AppID=12345831">文章管理<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.crm.index">
            <a href="/app/crm.html?AppID=12345831">CRM二维码<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.apply.index">
            <a href="/app/apply.html?AppID=12345831">报名系统<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.reserve.index">
            <a href="/app/reserve/seting.html?AppID=12345831">预订系统<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.carorder.index">
            <a href="/app/carorder.html?AppID=12345831">预约试驾系统<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.cartong.index">
            <a href="/app/cartong.html?AppID=12345831">4SCRM系统<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.feedback.index">
            <a href="/app/feedback.html?AppID=12345831">留言管理<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.pintu.index">
            <a href="/app/pintu.html?AppID=12345831">拼图活动<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.guagua.index">
            <a href="/app/guagua.html?AppID=12345831">刮刮卡活动<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.rotate.index">
            <a href="/app/rotate.html?AppID=12345831">大转盘活动<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="app.videohelp.index">
            <a href="/app/videohelp.html?AppID=12345831">视频教程<i class="icon-chevron-right"></i></a>
        </li>
        <li  id="logout">
            <a href="javascript:userLoginOut();//?AppID=12345831">安全退出<i class="icon-chevron-right"></i></a>
        </li>
    </ul>
</div>